@model IEnumerable<DTM_Nigeria.Models.iom_b1f_organizations_assisting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organization assisting IDPs in the LGA/B1F</h2>
<h3>@ViewBag.LgaInfo</h3>
<p>
    @Html.ActionLink("Add new organization ", "Create")
</p>

@if(Model.Count()>0){

<table>
    <tr>
        <th>
            name
        </th>
        <th>
            type
        </th>
        <th>
            assistance_type
        </th>
        <th>
            contact_person
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iom_organizations.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iom_organizations.lkp_Organization.organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_assistance_type.assistance_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_person)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
}
else
{ 
<b>No data</b>
}
    
    
<p>
    @Html.ActionLink("Back to B1F List", "Index", "B1F")
</p>