@model DTM_Nigeria.Models.iom_ward_presence_per_location

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create location in ward/B2F</h2>
<h3>@ViewBag.WardInfo</h3>

@if (ViewBag.Exception != null)
{
    <p style="color: Red">@ViewBag.Exception</p>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

List<SelectListItem> yesNo = new List<SelectListItem>();

yesNo.Add(new SelectListItem { Text = "N/A", Value = "0" });
yesNo.Add(new SelectListItem { Text = "Yes", Value = "1" });
yesNo.Add(new SelectListItem { Text = "No", Value = "2" });
    
    
    
    <fieldset>
        <legend>Location in the ward</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.location_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.location_name)
            @Html.ValidationMessageFor(model => model.location_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.location_type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.location_type, (SelectList)ViewBag.Residence, "[Select type of location]")
            @Html.ValidationMessageFor(model => model.location_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idp_category)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.idp_category, (SelectList)ViewBag.Category, "[Select category]")
            @Html.ValidationMessageFor(model => model.idp_category)
        </div>

       <div class="editor-label">
            @*@Html.LabelFor(model => model.MainUnfulfilledNeed)*@
	    Main Unfulfilled Need
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.MainUnfulfilledNeed, (SelectList)ViewBag.UnfulfilledNeed, "[Select need]")
            @Html.ValidationMessageFor(model => model.MainUnfulfilledNeed)
        </div>

        <div class="editor-label">
            idp are registered? list exist?
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.idp_registered_list_YesNo, yesNo, "[Yes or No]")
            @Html.ValidationMessageFor(model => model.idp_registered_list_YesNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registered_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registered_by)
            @Html.ValidationMessageFor(model => model.registered_by)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estimate_ind)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estimate_ind)
            @Html.ValidationMessageFor(model => model.estimate_ind)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.majority_stateoforigin)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.majority_stateoforigin, (SelectList)ViewBag.State, "[Select state]")
            @Html.ValidationMessageFor(model => model.majority_stateoforigin)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.majority_lgaoforigin)
        </div>


        <div class="editor-field">
            @Html.DropDownListFor(model => model.majority_lgaoforigin, (SelectList)ViewBag.LGA, "[Select Lga]")
            @Html.ValidationMessageFor(model => model.majority_lgaoforigin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.coord_lon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.coord_lon)
            @Html.ValidationMessageFor(model => model.coord_lon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.coord_lat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.coord_lat)
            @Html.ValidationMessageFor(model => model.coord_lat)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to locations List/B2F", "Index")
</div>

<script type="text/javascript">
    $(function () {
        $("#majority_stateoforigin").change(function () {

            if ($(this).val() != "NULL") {

                $.ajax({
                    url: "/Wards/getLgaList",
                    type: 'POST',
                    data: { id: $(this).val() },
                    success: function (lgas) {

                        var $select = $('#majority_lgaoforigin');
                        $select.empty();
                        $select.append("<option value=''>[Select Lga]</option>");
                        $.each(lgas, function (i, lga) {
                            $select.append("<option value='" + lga.Value + "'>" + lga.Text + "</option>");
                        });
                    },
                    error: function (xhr) { alert("error!!"); }
                });
            }
        });
    });
</script>