@model DTM_Nigeria.Models.iom_ward_presence_per_location

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details about location in ward/B2F</h2>

<fieldset>
    <legend>Location in the ward</legend>

    <div class="display-label">location_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location_name)
    </div>

    <div class="display-label">location_type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkp_TypeOfResidence.residence)
    </div>

    <div class="display-label">idp_category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkp_IDP_Category.category)
    </div>

    <div class="display-label">Main Unfulfilled Need </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkp_MainUnfulfilledNeed.value)
    </div>

    <div class="display-label">idp are registered? list exist?</div>
    <div class="display-field">
            @if (@Model.idp_registered_list_YesNo == 1)
            {
                @:Ans: Yes
             }
            else if (@Model.idp_registered_list_YesNo == 2)
            {
                @:Ans: No
             }
            else
            { 
                @:Ans: No data
            }
           </div>

    @*added by abdul on july 3, 2017*@
    <div class="display-label">estimate_hh</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimate_hh)
    </div>

    <div class="display-label">estimate_ind</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estimate_ind)
    </div>

    <div class="display-label">majority_stateoforigin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkp_State.state_name)
    </div>

    <div class="display-label">majority_lgaoforigin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkp_Lga.lga_name)
    </div>

    <div class="display-label">coord_lon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.coord_lon)
    </div>

    <div class="display-label">coord_lat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.coord_lat)
    </div>

    <div class="display-label">created_by</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.created_by)
    </div>

    <div class="display-label">create_time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_time)
    </div>

    <div class="display-label">updated_by</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updated_by)
    </div>

    <div class="display-label">update_time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.update_time)
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to locations List/B2F", "Index")
</p>
