@model IEnumerable<DTM_Nigeria.Models.iom_ward_presence_per_location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of IDP locations in the ward</h2>
<h3>@ViewBag.WardInfo</h3>

<p>
    @Html.ActionLink("Add new location in the ward", "Create")
</p>

@if (Model.Count() > 0)
{
    int tot_ind = 0;
/*    List<SelectListItem> yesNo = new List<SelectListItem>();
    
    yesNo.Add(new SelectListItem { Text = "Yes", Value = "1" });
    yesNo.Add(new SelectListItem { Text = "No", Value = "2" });
    
    */
<table>
    <tr>
        <th>
            location name
        </th>
        <th>
            location type
        </th>
        <th>
            idp category
        </th>
        <th>
            Main Unfulfilled Need 
        </th>
        <th>
            idp are registered?list exist?
        </th>
        <th>
            estimate ind
        </th>
        <th>
            majority stateoforigin
        </th>
        <th>
            majority lgaoforigin
        </th>
        <th>
             lon 
        </th>
        <th>
             lat 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    tot_ind = tot_ind + @item.estimate_ind;
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.location_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_TypeOfResidence.residence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_IDP_Category.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_MainUnfulfilledNeed.value)
        </td>
        <td>
            @if (@item.idp_registered_list_YesNo == 1)
            {
                @:Ans: Yes
             }
            else if (@item.idp_registered_list_YesNo == 2)
            {
                @:Ans: No
             }
            else
            { 
                @:Ans: No data
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estimate_ind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_State.state_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_Lga.lga_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coord_lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coord_lat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
    <br />
     <i>** total inds: @tot_ind</i>  
}
else
{ 
<b>No data</b>
}


<p>
    @Html.ActionLink("Back to B2F", "Index", "B2F")
</p>