@model DTM_Nigeria.Models.Errors


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data entry errors that should be fixed</h2>

<div>
@using (Html.BeginForm())
    { 
        
        <table>
        <tr><th>Phase</th><th></th></tr>
        <tr><td>
         <select name="phase" id="phase">

           <option value="-1">[Select phase]</option>

           @foreach (var item in (SelectList)ViewBag.Phase)
           {


               if (ViewBag.SelectedPhase == null)
               {
                   <option value="@item.Value">@item.Text</option> 
               }
               else if (@item.Value.Equals(((int)ViewBag.SelectedPhase).ToString()))
               { 
                   <option value="@item.Value" selected="selected">@item.Text</option>
               }
               else
               {        
                   <option value="@item.Value">@item.Text</option> 
               }

           }
           </select>
        </td><td>
            <input type=submit value="Search" />
        </td></tr>
        </table>   
    
    }
</div>



<fieldset>
<legend>Make sure all the figures are Matching for the below B2F forms (@Model.err_cnt_b2f_.Count)</legend>
@if (@Model.err_cnt_b2f_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    <th>hhs_Arrival</th>
    <th>inds_Arrival</th>
    <th>hhs_Insurg</th>
    <th>inds_Insurg</th>
    <th>hhs_Clashes</th>
    <th>inds_Clashes</th>
    <th>hhs_NatD</th>
    <th>inds_NatD</th>
    <th>hhs_ROther</th>
    <th>inds_ROther</th>
    <th>hhs_CAMP</th>
    <th>inds_CAMP</th>
    <th>hhs_HC</th>
    <th>inds_HC</th>
    </tr>

    @foreach (var item in @Model.err_cnt_b2f_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.number_hh</td>
            <td>@item.number_ind</td>
            <td>@item.hhs_Arrival</td>
            <td>@item.inds_Arrival</td>
            <td>@item.hhs_Insurg</td>
            <td>@item.inds_Insurg</td>
            <td>@item.hhs_Clashes</td>
            <td>@item.inds_Clashes</td>
            <td>@item.hhs_NatD</td>
            <td>@item.inds_NatD</td>
            <td>@item.hhs_ROther</td>
            <td>@item.inds_ROther</td>
            <td>@item.hhs_CAMP</td>
            <td>@item.inds_CAMP</td>
            <td>@item.hhs_HC</td>
            <td>@item.inds_HC</td>
        </tr>
    }

    </table>
}
</fieldset>

<br />

<fieldset>
<legend>HH and IND numbers in wards list that are not matching with numbers in B2F (@Model.err_cnt_ward_b2f_.Count)</legend>
@if (@Model.err_cnt_ward_b2f_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    <th>hhs_in_B2F</th>
    <th>inds_in_B2F</th>
    </tr>

    @foreach (var item in @Model.err_cnt_ward_b2f_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.estimate_hh</td>
            <td>@item.estimate_ind</td>
            <td>@item.number_hh</td>
            <td>@item.number_ind</td>
        </tr>
    }

    </table>
}
</fieldset>

<br />

<fieldset>
<legend>Need to add the below camps in the ward list with the indicated values for HH and IND (@Model.err_create_camp_.Count)</legend>
@if (@Model.err_create_camp_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    </tr>

    @foreach (var item in @Model.err_create_camp_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.hhs</td>
            <td>@item.inds</td>

        </tr>
    }

    </table>
}
</fieldset>


<br />

<fieldset>
<legend>Camps with no figures in B2F (@Model.err_camp_nfig_b2f_.Count)</legend>
@if (@Model.err_camp_nfig_b2f_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    </tr>

    @foreach (var item in @Model.err_camp_nfig_b2f_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.hhs_Ward</td>
            <td>@item.inds_Ward</td>

        </tr>
    }

    </table>
}
</fieldset>


<br />

<fieldset>
<legend>Make sure the sum of HHs and the sum of Inds for all camps in a specific ward match with the corresponding values in B2F (@Model.err_sum_camp_b2f_.Count)</legend>
@if (@Model.err_sum_camp_b2f_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    <th>ward_sum_hhs</th>
    <th>ward_sum_inds</th>
    </tr>

    @foreach (var item in @Model.err_sum_camp_b2f_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.hhs</td>
            <td>@item.inds</td>
            <td>@item.Ward_Sum_HHs</td>
            <td>@item.Ward_Sum_INDs</td>
        </tr>
    }

    </table>
}
</fieldset>

<br />

<fieldset>
<legend>Need to add corresponding forms in Location Assessment DB for each below ward with the indicated values for HH and IND (@Model.err_create_LocA_.Count)</legend>
@if (@Model.err_create_LocA_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>hhs</th>
    <th>inds</th>
    </tr>

    @foreach (var item in @Model.err_create_LocA_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.hh</td>
            <td>@item.ind</td>

        </tr>
    }

    </table>
}
</fieldset>

<br />

<fieldset>
<legend>Population from Location Assessment Database do not match with B2F figures (@Model.err_LocA_pop_no_match_.Count)</legend>
@if (@Model.err_LocA_pop_no_match_.Count == 0)
{ 
    <b>No data</b>
}
else { 
    
    <table>
    <tr>
    <th>state</th>
    <th>lga</th>
    <th>ward</th>
    <th>B2_hhs</th>
    <th>B2_inds</th>
    <th>LocA_hhs</th>
    <th>LocA_inds</th>
    </tr>

    @foreach (var item in @Model.err_LocA_pop_no_match_)
    { 
        <tr>
            <td>@item.state_name</td>
            <td>@item.lga_name</td>
            <td>@item.ward_name</td>
            <td>@item.B2_hh</td>
            <td>@item.B2_ind</td>
            <td>@item.LocA_hh</td>
            <td>@item.LocA_ind</td>
        </tr>
    }

    </table>
}
</fieldset>
