@model DTM_Nigeria.Models.iom_group_assessment_1

@{
    ViewBag.Title = "Delete GA P1-4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Group Assessment (Page 1-4 will be deleted)</h2>
<h3>@ViewBag.WardInfo</h3>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
   
   <legend>DTM - Group Assessment (Page 1/4)</legend>

        <table width=100%>
        
        <tr>
        <th>Group ID</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.group_id)
            </div>
        </td><th>LGA</th><td><div class="display-field">@ViewBag.LGA</div></td>
        </tr>

        <tr>
        <th>Ward</th><td><div class="display-field">@ViewBag.Ward</div>
        </td><th>Location</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.location)
            </div>        
        </td>
        </tr>
        
        <tr>
        <th>Logitude</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.coord_lon)
            </div> 
        </td><th>Latitude</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.coord_lat)
            </div> 
        </td>
        </tr>

        <tr>
        <th>Interview date</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.interview_date)
            </div> 
        </td><th>Researcher name & phone</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.iom_researchers.researcher_name)
            </div> 
            <div class="display-field">
                @Html.DisplayFor(model => model.iom_researchers.researcher_tel)
            </div> 
        
        </td>
        </tr>

        <tr>
        <th>Shelter type</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.lkp_Shelter.value)
            </div> 
        </td><th>if other, specify</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.sheter_type_other)
            </div> 
        </td>
        </tr>

        <tr>
        <th>LGA of Origin</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.lkp_Lga.lga_name)
            </div> 
        </td><th>Reason for displacement</th><td>
            <div class="display-field">
                 @Html.DisplayFor(model => model.lkp_ReasonOfDisp.value)
            </div> 

            <div class="display-field">
                @Html.DisplayFor(model => model.reason_other)
            </div> 
        </td>
        </tr>

        <tr>
        <th colspan=2>Number of households and individuals</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.number_hh)
            </div> 
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.number_ind)
            </div> 
        </td>
        </tr>
        </table>
        <br />
        1.Group details
        <table width=100% class='table'>
        <tr>
        <th>Waive of displacement</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.lkp_Period2.label)
            </div> 
        </td>
        <th>If others, specify</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.wave_if_other)
            </div>
        </td>
        <td>**</td>
        </tr>
        <tr>
        <th>1.2 Ward of Origin</th><th>1.3 # Households</th><th>1.4 # Individuals</th><th>1.5 Ethnicity</th><th>1.6 Religion</th>
        </tr>

        @foreach (var a in @Model.iom_ga_idp_population) { 
            <tr >
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.lkp_Ward.ward_name)
                    </div>
                </td><td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.hh)
                    </div>
                </td><td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.ind)
                    </div>
                </td><td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.lkp_Ethnicity.value)
                    </div>
                </td><td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.lkp_Religion.value)
                    </div>
                </td>
            </tr>
        
        }

        @if( @Model.iom_ga_idp_population.Count() == 0)
        {
            <tr><td colspan=5><b>No data</b></td></tr>
        }

        </table>

        <br />
        <table width=100%>
        <tr>
        <th>1.7 Age/gender breakdow</th><th>less than 1</th><th>1-5</th><th>6-17</th><th>18-59</th><th>60+</th>
        </tr>
        <tr>
        <th>Males</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.m0_5)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.m5_14)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.m15_24)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.m25_59)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.m60p)
            </div>
        </td>
        </tr>
        <tr>
        <th>Females</th><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.f0_5)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.f5_14)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.f15_24)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.f25_59)
            </div>
        </td><td>
            <div class="display-field">
                @Html.DisplayFor(model => model.f60p)
            </div>
        </td>
        </tr>
        </table>
        <br />

        <table width=100% class='table'>
        <tr>
        <th colspan=3> 1.8 What sources of information were consulted in conducting this Group / Family assessment? (Name and Type)</th><td></td>
        </tr>
        <tr>
        <th>Key informant name</th><th>key informant sex (M/F)</th><th>key informant number</th><th>key informant type</th>
        </tr>
        @if( @Model.iom_ga_informants.Count() == 0)
        {
            <tr><td colspan=4><b>No data</b></td></tr>
        }
        @foreach(var a in @Model.iom_ga_informants)
        {
            <tr>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.iom_informants.name)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.iom_informants.lkp_Sex.sex)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.iom_informants.details)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => a.iom_informants.type)
                    </div>
                </td>
            </tr>
        }


        </table>

        <br />

        <table width=100%>
        <tr>
        <th>1.9 Credibility rating *</th> <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.credibility_rating)
            </div>
        </td>
        </tr>
        </table>

        </br>

        <table width=100%>
            <tr>
            <th>created_by</th>
            <th>create_time</th>
            <th>updated_by</th>
            <th>update_time</th>
            </tr>
            <tr>
                <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.created_by)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.create_time)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.updated_by)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.update_time)
                </div>
                </td>

            </tr>
        </table>
        <br />

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Cancel", "Index")
    </p>
}
