@model IEnumerable<DTM_Nigeria.Models.iom_group_assessment_1>

@{
    ViewBag.Title = "GA List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Group assessments</h2>
<h3>@ViewBag.WardInfo</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if(Model.Count()>0){

<table>
    <tr>
        <th>
            group_id
        </th>
        <th>
            interview_date
        </th>
        <th>
            researcher_name
        </th>
        <th>
            researcher_tel
        </th>
        <th>
            shelter_type
        </th>
        <th>
            sheter_type_other
        </th>
        <th>
            lga_orgin
        </th>
        <th>
            reason_for_disp
        </th>
        <th>
            number_hh
        </th>
        <th>
            number_ind
        </th> 
        <th>
        pages 2-3-4
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.group_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interview_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iom_researchers.researcher_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iom_researchers.researcher_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_Shelter.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sheter_type_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_Lga.lga_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkp_ReasonOfDisp.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_hh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number_ind)
        </td>
        <td>@{
                
           @Html.ActionLink("P2", "IndexP2", new { id = item.id })
           if (@item.iom_group_assessment_2 != null)
           {
                    @:  (OK)  |
                }
           else
           {
                    @:  (NOK) |
                    }

           @Html.ActionLink("P3", "IndexP3", new { id = item.id })
           if (@item.iom_ga_site_information.Count() > 0)
           {
                    @:  (OK)  |
                }
           else
           {
                    @:  (NOK) |
                    }

           @Html.ActionLink("P4", "IndexP4", new { id = item.id })
           if (@item.iom_ga_gender_age_sample.Count() > 0)
           {
                    @:  (OK)
                }
           else
           {
                    @:  (NOK)
                    }
            
               
            
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>

}
else
{ 
<b>No data</b>
}

<p>
    @Html.ActionLink("Back to B2F", "Index", "B2F")
</p>