@model IEnumerable<DTM_Nigeria.Models.iom_ga_site_information>

@{
    ViewBag.Title = "IndexP3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details about Group Assessment (3/4)</h2>
<h3>@ViewBag.WardInfo</h3>

@if (Model.Count()>0)
{
    <p>
    @Html.ActionLink("Edit", "EditP3", new { id = (int)ViewBag.Page1 }) |
    @Html.ActionLink("Delete", "DeleteP3", new { id = (int)ViewBag.Page1 }) </p>
    
    <fieldset>
    <legend>DTM - Group Assessment (Page 3/4)</legend>
    <br />
    7. Site information
    <table width=50% class='table'>
    <tr><th>#</th><th>Name of site</th><th>Longitude</th><th>Latitude</th></tr>
    
    @{int i = 1;}

    @foreach (var a in Model)
    {
        
        <tr><td>@i</td><td>@a.name_site</td><td>@a.coord_lon</td><td>@a.coord_lat</td></tr>
        
        i++;
    }

    </table>

    </fieldset>
    
    <p>
        @*@Html.ActionLink("Back to Page 2/4", "IndexP2", new { id = (int)ViewBag.Page1 }) | 
        @Html.ActionLink("Go to Page 4/4", "IndexP4", new { id = (int)ViewBag.Page1 })*@
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{ 
    
<p>
    @Html.ActionLink("Create Page 3/4", "CreateP3", new { id = (int)ViewBag.Page1 }) | 
    @*@Html.ActionLink("Back to Page 2/4", "IndexP2", new { id = (int)ViewBag.Page1 }) |
    @Html.ActionLink("Go to Page 4/4", "IndexP4", new { id = (int)ViewBag.Page1 })*@
    @Html.ActionLink("Back to List", "Index")
</p>
        
<b>No data</b>
}
    