@model IEnumerable<DTM_Nigeria.Models.iom_ga_gender_age_sample>

@{
    ViewBag.Title = "DeleteP4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteP4</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DTM - Group Assessment (Page 4/4)</legend>

    <table width=100%>
    <tr>
        <th></th><th colspan=6>Male</th><th colspan=6>Female</th></tr><tr>
        <th>HHs</th><th>-1</th><th>1-5</th><th>6-17</th><th>18-59</th><th>60+</th><th>Total</th><th>-1</th><th>1-5</th><th>6-17</th><th>18-59</th><th>60+</th><th>Total</th>
    </tr>
        @{
int gtot = 0, gtot_m = 0, gtot_f = 0, tlt1_m = 0, tlt1_f = 0, t1_5_m = 0, t1_5_f = 0, t6_17_m = 0, t6_17_f = 0, t18_59_m = 0, t18_59_f = 0, t60p_m = 0, t60p_f = 0;
    }

@foreach (var item in Model)
{
    int total_m, total_f, total;



    total_m = (item.m_lt1 ?? 0) + (item.m_1_5 ?? 0) + (item.m_6_17 ?? 0) + (item.m_18_59 ?? 0) + (item.m_60p ?? 0);

    // total_m =(item.f_18_59??0) + item.f_6_17??0 ;

    total_f = (item.f_lt1 ?? 0) + (item.f_1_5 ?? 0) + (item.f_6_17 ?? 0) + (item.f_18_59 ?? 0) + (item.f_60p ?? 0);

    gtot_m = gtot_m + total_m;

    gtot_f = gtot_f + total_f;

    tlt1_m = tlt1_m + (item.m_lt1 ?? 0);

    tlt1_f = tlt1_f + (item.f_lt1 ?? 0);

    t1_5_m = t1_5_m + (item.m_1_5 ?? 0);

    t1_5_f = t1_5_f + (item.f_1_5 ?? 0);

    t6_17_m = t6_17_m + (item.m_6_17 ?? 0);

    t6_17_f = t6_17_f + (item.f_6_17 ?? 0);

    t18_59_m = t18_59_m + (item.m_18_59 ?? 0);

    t18_59_f = t18_59_f + (item.f_18_59 ?? 0);

    t60p_m = t60p_m + (item.m_60p ?? 0);

    t60p_f = t60p_f + (item.f_60p ?? 0);
    
    <tr>
        <td>@Html.DisplayFor(modelItem => item.hhs)</td>
        <td>@Html.DisplayFor(modelItem => item.m_lt1)</td>
        <td>@Html.DisplayFor(modelItem => item.m_1_5)</td>
        <td>@Html.DisplayFor(modelItem => item.m_6_17)</td>
        <td>@Html.DisplayFor(modelItem => item.m_18_59)</td>
        <td>@Html.DisplayFor(modelItem => item.m_60p)</td>
        <td bgcolor="#ccffff">
            @total_m
        </td>
        <td>@Html.DisplayFor(modelItem => item.f_lt1)</td>
        <td>@Html.DisplayFor(modelItem => item.f_1_5)</td>
        <td>@Html.DisplayFor(modelItem => item.f_6_17)</td>
        <td>@Html.DisplayFor(modelItem => item.f_18_59)</td>
        <td>@Html.DisplayFor(modelItem => item.f_60p)</td>
        <td bgcolor="#ccffff">
            @total_f
            @*Html.DisplayFor(modelItem => item.total_f)*@
        </td>
    </tr>

}

<tr bgcolor="#ccffff">

        <td >
            Total
        </td>
        <td>
            @tlt1_m
        </td>
        <td>
            @t1_5_m
        </td>
        <td>
            @t6_17_m
        </td>
        <td>
            @t18_59_m
        </td>
        <td>
            @t60p_m
        </td>

        <td bgcolor="#ccffff">
            @gtot_m
            @*Html.DisplayFor(modelItem => item.total_m)*@
        </td>

        <td>
            @tlt1_f
        </td>
        <td>
            @t1_5_f
        </td>
        <td>
            @t6_17_f
        </td>
        <td>
            @t18_59_f
        </td>
        <td>
            @t60p_f
        </td>

        <td bgcolor="#ccffff">
            @gtot_f
            @*Html.DisplayFor(modelItem => item.total_f)*@
        </td>


</table>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Cancel", "Index")
    </p>
}
