@model DTM_Nigeria.Models.Site_info

@{
    ViewBag.Title = "Edit GA 3/4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Group Assessment</h2>
<h3>@ViewBag.WardInfo</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="../../Scripts/MyCustomValidation.js" type="text/javascript"></script>


<script type="text/javascript">
    $(function () {

        $("#forma").on("keyup", "[class^=sline]", function (e) {

            var trid = $(this).closest('tr').attr('id');

            if ($(this).val() != '') {

                $('.cb_' + trid).prop('checked', true);

            }

        });

        $('[class^=cb_]').click(function (e) {
            if (!$(this).is(':checked')) {

                var trid = $(this).closest('tr').attr('id');

                $('#' + trid).find('input[type=text]').each(function () {
                    $(this).val('');
                });

                $('.cb_' + trid).prop('checked', false);
            }
        });

    });
</script>

@using (//Html.BeginForm()
    Html.BeginForm("EditP3", "B3F", FormMethod.Post, new { id = "forma" })
    ) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DTM - Group Assessment (Page 3/4)</legend>

        <table>
        <tr><td>#</td><td>Name of site</td><td>Longitude</td><td>Latitude</td></tr>

        @for (int i = 0; i < Model.sites.Count(); i++)
        {
           // int j = i + 1;
            <tr id='@i'>
            <td>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.sites[i].notEmpty, new { @class = "cb_" + @i  })
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.HiddenFor(model=>model.sites[i].id)
                    @Html.HiddenFor(model=>model.sites[i].ga_id)
                    @Html.TextBoxFor(model => model.sites[i].name_site, new { @class = "sline-" + @i })
                    @Html.ValidationMessageFor(model => model.sites[i].name_site)
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.sites[i].coord_lon, new { @class = "sline-" + @i })
                    @Html.ValidationMessageFor(model => model.sites[i].coord_lon)
                </div>
            </td>
            <td>
                <div class="editor-field">
                @Html.TextBoxFor(model => model.sites[i].coord_lat, new { @class = "sline-" + @i })
                @Html.ValidationMessageFor(model => model.sites[i].coord_lat)
            </div>
            </td>
            </tr>    
        }

        </table>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
