@model DTM_Nigeria.Models.iom_profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details about B1F</h2>

<fieldset>
    <legend>Details about one B1F form</legend>

    <table width=100%>
        <tr><th colspan=4>A. LOCATION AND TEAM MEMBERS</th></tr>
           <tr><td>Phase
           
           <div class="display-field">
            @Html.DisplayFor(model => model.phase)
        </div>

           </td><td>Date of assessment
           
           <div class="display-field">
            @Html.DisplayFor(model => model.date)
        </div>

           </td><td>Researcher name
           
           <div class="display-field">
            @Html.DisplayFor(model => model.iom_researchers.researcher_name)
        </div>

           </td><td>Researcher tel.
           
           <div class="display-field">
            @Html.DisplayFor(model => model.iom_researchers.researcher_tel)
        </div>

           </td></tr>
           <tr><td>state
           
           <div class="display-field">
           @Html.DisplayFor(model => model.lkp_Lga.lkp_State.state_name)
		   </div>
           

           </td><td>LGA
           
           <div class="display-field">
            @Html.DisplayFor(model => model.lkp_Lga.lga_name)
        </div>

           </td><td>Settlement
           
           <div class="display-field">
            @Html.DisplayFor(model => model.settlement)
        </div>

           </td><td>Type
           

           <div class="display-field">
            @Html.DisplayFor(model => model.lkp_Settlement.settlement)
        </div>


           </td></tr>
        </table>

        <br />
        
        
        <table width=100%>
        <tr><th colspan=4>B. DEMOGRAPHICS</th></tr>
           <tr><td colspan=2>Are there displaced IDP hh/individuals in the LGA?</td><td colspan=2>
           
           <div class="display-field">
            @if (@Model.displaced_hh_ind_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

           </td></tr>
           
           <tr><td colspan=4>If yes, what is the estimated number of current IDP population?</td></tr>
           <tr><td>Number of households</td><td>
           
             <div class="display-field">
            @Html.DisplayFor(model => model.number_hh)
        </div>


           </td><td>Number of individuals</td><td>
           
                 <div class="display-field">
            @Html.DisplayFor(model => model.number_ind)
        </div>

           </td></tr>
           <tr><td colspan=4>Arrival of IDPs in the LGA</td></tr>
            @*<tr><td>Before 2012
            
            
            </td><td>2012
            
            
            </td><td>2013
            
            
            </td><td>2014
            
            
            </td></tr> *@ 

            <tr>
            
         @foreach (var item in Model.iom_idp_arrival)
         {    
            
                        <td valign=top>

            <div class="display-field">
             @item.lkp_Period2.label</div>

            <div class="editor-label">
                        #HH
                    </div>
                    <div class="display-field">
                        @item.hh
                    </div>

                    <div class="editor-label">
                        #IND
                    </div>
                    <div class="display-field">
                        @item.ind
                    </div>


            <div class="editor-label">
                        From
                    </div>

            <div class="display-field">
                       @if (@item.lkp_Location != null)
                       {@item.lkp_Location.location}
                         </div>

            <div class="editor-label">
                        Specify
                    </div>

            <div class="display-field"> 
                        @if (@item.lkp_State != null)
                        { @item.lkp_State.state_name}
                    </div>

                        </td>
             
         }
            
            </tr>


            <tr></tr>

        </table>

        
        <br />
        
        <table width=100%>
        <tr><th colspan=4>C. DISPLACEMENT THAT ORIGINANTES FROM THIS LGA</th></tr>
           <tr><td colspan=3>Are there households/individuals from this LGA that left as IDPs and have not returned?</td><td>
           
           <div class="display-field">
            @if (@Model.nr_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

           
           </td></tr>
           <tr><td colspan=2>If yes, where did majority of them go?</td><td colspan=2>
           

           <div class="display-field">
            @Html.DisplayFor(model => model.lkp_NotReturnLocation.location)
        </div>

           </td></tr>

           <tr><td colspan=2>List maximum 2 states -> </td><td>
           

           <div class="display-field">
            @Html.DisplayFor(model => model.nr_state1)
        </div>
        

           </td><td>
           
           <div class="display-field">
            @Html.DisplayFor(model => model.nr_state2)
        </div>

           </td></tr>

           <tr><td colspan=2>Select below for period when majority left:</td><td colspan=2>
           
           <div class="display-field"> 
            @Html.DisplayFor(model => model.lkp_Period2.label)
           </div>
          

           </td></tr>
        </table>

        <br />
        
        <table width=100%>
        <tr><th colspan=4>D. IDP CATEGORY / REASON FOR DISPLACEMENT</th></tr>
           <tr><th>1. Insurgency-Conflict in North East</th><th>2. Community Clashes</th><th>3. Natural Disasters</th><th>
           Other, Specify

        <div class="display-field">
            @Html.DisplayFor(model => model.reason_others_name)
        </div>


           </th></tr>
           <tr><td>
           

           <div class="display-field">
            @if (@Model.reason_insurgency_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

         <div class="display-field">
            @Html.DisplayFor(model => model.lkp_Period2.label)
            
        </div>

        <div class="editor-label">
            #HH
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_insurg_hh)
        </div>

        <div class="editor-label">
            #IND
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_insurg_ind)
        </div>


           </td><td>
           
           <div class="display-field">
            @if (@Model.reason_clash_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

         <div class="display-field"> 
            
            @Html.DisplayFor(model => model.lkp_Period2.label)
         
        </div>


        <div class="editor-label">
            #HH
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_clash_hh)
        </div>

        <div class="editor-label">
            #IND
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_clash_ind)
        </div>


           </td><td>
           
           <div class="display-field">
            @if (@Model.reason_disaster_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

         <div class="display-field"> 
            @Html.DisplayFor(model => model.lkp_Period2.label)
           
        </div>


        <div class="editor-label">
            #HH
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_disaster_hh)
        </div>

        <div class="editor-label">
            #IND
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_disaster_ind)
        </div>


           </td><td>
           
            
            <div class="display-field">
            @if (@Model.reason_others_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>


         <div class="display-field"> 
            @Html.DisplayFor(model => model.lkp_Period2.label)
            
        </div>

        <div class="editor-label">
            #HH
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_others_hh)
        </div>

        <div class="editor-label">
            #IND
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.reason_others_ind)
        </div>

           </td></tr>
        </table>


        <br />

        <table width=100%>
        <tr><th colspan=5>E. TYPE OF LOCATION/RESIDENCE FOR IDP POPULATION IN THE LGA</th></tr>
           <tr><th>Type of IDP's Temporary Settlements</th><th>IDPs</th><th>#HHs</th><th>
           #IND</th></tr>
           <tr><td>1. Camp like sites/centers</td><td>
           
           <div class="display-field">
            @if (@Model.temporary_settlement_type_camp_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

           </td><td>
           
             <div class="display-field">
            @Html.DisplayFor(model => model.temporary_settlement_hh_camp)
        </div>

           </td><td>
           
            <div class="display-field">
            @Html.DisplayFor(model => model.temporary_settlement_ind_camp)
        </div>
           
           </td></tr>

           <tr><td>2. Host family/Community accomodation</td><td>
           
            <div class="display-field">
            @if (@Model.temporary_settlement_type_hc_YesNo == 1)
            {
                @:Ans: Yes
             }
            else
            {
                @:Ans: No
             }
           </div>

           </td><td>
           
                   <div class="display-field">
            @Html.DisplayFor(model => model.temporary_settlement_hh_hc)
        </div>

           </td><td>
           
            <div class="display-field">
            @Html.DisplayFor(model => model.temporary_settlement_ind_hc)
        </div>

           </td></tr>

        </table>

        <br />

        <table width=100%>
            <tr>
            <th>created_by</th>
            <th>create_time</th>
            <th>updated_by</th>
            <th>update_time</th>
            </tr>
            <tr>
                <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.created_by)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.create_time)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.updated_by)
                </div>
                </td><td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.update_time)
                </div>
                </td>

            </tr>
        </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to B1F List", "Index")
</p>
