@model IEnumerable<DTM_Nigeria.Models.iom_b2f_informants>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Key informant/B2F</h2>
<h3>@ViewBag.WardInfo</h3>

<p>
    @Html.ActionLink("Add new informant", "Create")
</p>

@if (Model.Count() > 0)
{
<table>
    <tr>
        <th>
            names
        </th>
        <th>
            type
        </th>
        <th>
            sex
        </th>
        <th>
            contact_details
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iom_informants.name)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.type)*@
            @item.iom_informants.lkp_Informant_Type.informant
        </td>
        <td>
            @item.iom_informants.lkp_Sex.sex
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
}
else
{ 
<b>No data</b>
}


<p>
    @Html.ActionLink("Back to B2F", "Index", "B2F")
</p>
